$base-font-size: 15px;
$body-font-color: #444;
$body-background: #f4f4f4;
$article-background: #fff;
$footer-background: #333333;
$footer-text-color: #fff;
$footer-copyright-background: #222;
$footer-copyright-color: #888;
$border-color:#e2e2e2;

$icon-color: #aaaaaa;
$secondary-icon-color: #c2c2c2;
$theme-brand-color: #da521e;
$blog-meta-color: #777;

$base-font-family: 'Lato', sans-serif;
$title-font-family: 'Oswald', sans-serif;
$title-font-family-2: 'Playfair Display', serif;
$title-font-family-3: 'Roboto', sans-serif;;


