body.food {
	background: #fff7ee;
	.navbar-default {
		background-color: #fff2e4;
		border: 0;
		-webkit-box-shadow: 0 1px 0.9px 0 rgba(216, 74, 17, 0.2);
		-moz-box-shadow: 0 1px 0.9px 0 rgba(216, 74, 17, 0.2);
		box-shadow: 0 1px 0.9px 0 rgba(216, 74, 17, 0.2);
	}
	.insta-feed {
		background: #fff2e4;
		-webkit-box-shadow: 0 -1px 1px rgba(216, 74, 17, 0.2);
		-moz-box-shadow: 0 -1px 1px rgba(216, 74, 17, 0.2);
		box-shadow: 0 -1px 1px rgba(216, 74, 17, 0.2);
	}
	.kotha-sidebar .widget.about-me-widget {
		background: url(assets/images/food-me-bg.jpg) no-repeat;
		background-color: #fff;
	}
}