.single-blog {
	background: $article-background;
	margin-bottom: 50px;
	-webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
	box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
	&.marketing-post {
		.post-content {
			overflow: hidden;
			padding: 40px 0;
			.entry-header {
				margin: 0 auto 10px;
				padding: 0 40px;
				h2 {
					@include headline(30px, $body-font-color, 0);
				}

			}
			.entry-content {
				margin: 30px 40px;
			}
			.continue-reading {
				a {
					@include add-border(1px, $theme-brand-color, all);
					color: $theme-brand-color;
					display: inline-block;
					font-size: 12px;
					font-weight: 700;
					letter-spacing: 1px;
					padding: 10px 18px;
					&:hover {
						@include add-background($theme-brand-color);
						color: #fff;
					}
				}
			}
			.post-meta {
				overflow: hidden;
				border: 0;
				margin-top: 0;
				padding: 14px 0 18px;
				.author-meta {
					@include date();
					li {
						margin: 0;
						padding: 0;
						color: $icon-color;
						a {
							color: $icon-color;
							&:hover {
								color: $theme-brand-color;
							}
						}
					}
				}
			}
		}
	}
	.post-thumb {
		img {
			width: 100%;
		}
		iframe{
			width: 100%;
		}
	}
	.post-content {
		overflow: hidden;
		padding: 40px;
		.entry-header {
			margin: 0 auto 22px;
			.post-cat {
				color: $theme-brand-color;
				display: inline-block;
				font-size: 11px;
				font-weight: 700;
				letter-spacing: 1px;
				margin-bottom: 10px;
			}
			h2 {
				@include headline();
			}

		}
		.post-img {
			margin: 12px 0;
			padding-top: 7px;
		}
		.text-brand {
			color: $theme-brand-color;
		}
		h4 {
			margin-bottom: 25px;
			font-weight: normal;
			color: #888;
			font-size: 16px;
		}
		.entry-content {
			margin-bottom: 35px;
		}
		.continue-reading {
			a {
				@include add-border(1px, $theme-brand-color, all);
				color: $theme-brand-color;
				display: inline-block;
				font-size: 12px;
				font-weight: 700;
				letter-spacing: 1px;
				padding: 10px 18px;
				&:hover {
					@include add-background($theme-brand-color);
					color: #fff;
				}
			}
		}
		.post-meta {
			overflow: hidden;
			@include add-border(1px, $border-color, top);
			margin-top: 40px;
			padding-top: 20px;
			line-height: 1;
			margin-bottom: 0;
			padding-bottom: 0;
			.author-meta {
				@include date;
				li {
					margin: 0;
					padding: 0;
					a {
						color: $blog-meta-color;
						line-height: 1;
						margin-bottom: 0;
						padding-bottom: 0;
						&:hover {
							color: $theme-brand-color;
						}
					}
				}
			}
			.social-share {
				line-height: 1;
				margin-bottom: 0;
				padding-bottom: 0;
				li {
					&:last-child {
						padding-right: 0;
					}
					&:first-child {
						padding-left: 0;
					}
					a {
						color: $secondary-icon-color;
						font-size: 16px;
						padding-left: 3px;
						&:hover {
							color: $theme-brand-color;
						}
					}
				}
			}
		}
	}
	&.post-grid {
		.entry-content {
			margin-bottom: 20px;
		}
		.entry-header {
			margin-bottom: 15px;
			h2 {
				@include headline(18px);
			}
		}
		.post-content .post-meta {

			margin-top: 20px;
		}
	}
	&.post-list {
		.post-content {
			padding: 15px 0 15px 15px;
			.entry-header {
				margin-bottom: 15px;
				h2 {
					@include headline(18px);
					padding-top: 8px;
				}

			}
			.post-meta {
				margin-top: 15px;
				padding-top: 15px;
				.author-meta {
					@include date();
					li {
						margin: 0;
						padding: 0;
						a {
							color: $blog-meta-color;
						}
					}
				}
			}
		}
	}
}

.post-overlay {
	.post-thumb {
		position: relative;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		.post-thumb-overlay {
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			height: 100%;
			width: 100%;
			@include black(0.4);
			opacity: 0;
			overflow: hidden;
			@include transition(0.5s);
			div {
				color: #fff;
				display: inline-block;
				height: 40px;
				width: 132px;
				border: 1px solid #fff;
				line-height: 40px;
				text-decoration: none;
				font-weight: 600;
				font-size: 14px;
				position: relative;
				top: 50%;
				letter-spacing: 1px;
				margin-top: -18px;
				text-transform: uppercase;
				@include transition(0.3s);
				&:hover {
					border: 1px solid $theme-brand-color;
					background: $theme-brand-color;
				}
			}
		}
		&:hover .post-thumb-overlay {
			opacity: 1;
		}
	}
}

/*material blog*/

.material-blog {
	.single-blog {
		border: 0;
		-webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.08);
		box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.08);
		@include transition(0.25s);
		&:hover {
			-webkit-box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15), 0 6px 40px rgba(0, 0, 0, 0.15);
			box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15), 0 6px 40px rgba(0, 0, 0, 0.15);
		}
	}
	.post-pagination {
		margin-bottom: 95px;
		ul {

			li {
				a {
					-webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.08);
					box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.08);
					margin-left: 0;
				}
				&:first-child > span, &:first-child > a, &:last-child > a, &:last-child > span {
					border-radius: 0;
				}
			}
		}
	}
}

.kotha-sidebar.material-sidebar {
	.widget {
		-webkit-box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.08);
		box-shadow: 0 1px 20px 0 rgba(0, 0, 0, 0.08), 0 1px 20px 0 rgba(0, 0, 0, 0.08);
		border: 0;
	}

}

/* pagination */

.post-pagination {
	margin-bottom: 53px;
	ul {
		border-radius: 0;
		margin: 0;
		li {
			display: inline-block;
			margin-left: 4px;
			&:first-child {
				margin-left: 0;
			}
			&.active {
				a {
					background: $theme-brand-color;

					&:hover {
						background: $theme-brand-color;
						color: #fff;
					}
				}
			}
			a {
				margin-left: 0;
				color: $body-font-color;
				border: 0;
				background: #fff;
				font-family: $title-font-family;
				padding: 6px 13px;
				-webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
				box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
				&:hover {
					background: $theme-brand-color;
					color: #fff;
				}
			}
			&:first-child > span, &:first-child > a, &:last-child > a, &:last-child > span {
				border-radius: 0;
			}
		}
	}
}

.top-comment {
	padding: 30px;
	background-color: #fff;
	color: $body-font-color;
	margin-bottom: 20px;
	border: 1px solid #eee;
	overflow: hidden;
	img {
		margin-right: 15px;
	}
	p {
		line-height: 24px;
	}
	.social-share {
		margin-bottom: 0;
		margin-top: -5px;
		li {

			margin-bottom: 0;
			a {
				color: $secondary-icon-color;
				&:hover {
					color: $theme-brand-color;
				}
			}
		}
	}
}

.single-blog-box {
	position: relative;
	text-align: center;
	margin: 30px 0;
	&:hover .promo-text {
		border: 1px solid #fff;
		width: 90%;
		height: 80%;
		background: rgba(0, 0, 0, 0.3);
	}
	.overlay {
		background-color: rgba(0, 0, 0, 0.2);
		width: 100%;
		height: 100%;
		position: absolute;
		left: 0;
		top: 0;
	}
	.promo-text {
		font-weight: 500;
		position: absolute;
		top: 10%;
		left: 5%;
		margin: 0;
		border: 1px solid transparent;
		width: 90%;
		height: 80%;
		background: rgba(0, 0, 0, 0.0);
		color: #fff;
		-webkit-transition: all 0.5s;
		transition: all 0.5s;
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-pack: center;
		-webkit-justify-content: center;
		-ms-flex-pack: center;
		justify-content: center;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		p {
			color: #fff;
		}
		h5 {
			color: #fff;
			margin-top: 0;
			font-size: 16px;
			line-height: 11px;
		}
		i {
			padding: 0 40px;
			font-size: 25px;
			margin-bottom: -30px;
			line-height: 30px;
		}
	}
}

.single-blog.post-grid .post-content {
	padding: 25px;
}

.related-post-carousel {
	padding: 20px 20px 10px;
	margin-bottom: 60px;
	margin-top: 30px;
	background-color: #fff;
	color: $body-font-color;
	border: 1px solid $border-color;
	text-decoration: none;
	.slick-list {
		margin: 0 -15px;
	}
	.slick-slide {
		outline: none;
		margin: 0 15px;
	}
	.related-heading {
		font-size: 14px;
		text-transform: uppercase;
		letter-spacing: 1px;
		font-weight: 700;
		margin-bottom: 20px;
	}
	.single-item h4 {
		font-weight: normal;
		padding-bottom: 0;
		padding-top: 15px;
		color: #444444;
		&:hover {
			color: $theme-brand-color;
		}
	}
}

.comment-area {
	background: #fff;
	border-radius: 4px;
	border: 1px solid $border-color;
	margin-bottom: 60px;
	padding: 50px;
	.comment-heading h3 {
		font-size: 18px;
		padding-bottom: 14px;
	}
	.single-comment {
		padding-bottom: 25px;
		&.single-comment-reply {
			margin-left: 30px;
		}
		.media {
			margin-top: 0;
			.media-heading {
				h3 {
					font-size: 14px;
					margin: 0;
					padding-bottom: 5px;
				}
				.reply-btn {
					background: #eee;
					color: #777;
					display: inline-block;
					font-size: 12px;
					height: 30px;
					line-height: 30px;
					text-align: center;
					width: 60px;
					&:hover {
						background: $theme-brand-color;
						color: #fff;
					}
				}
			}
			.media-body {
				span {
					display: inline-block;
					font-size: 12px;
					padding-bottom: 12px;
				}
				.comment-date {
					color: #888888;
				}
				.comment-p {
					font-size: 14px;
					line-height: 24px;
				}
			}
		}
	}
}

.leave-comment {
	background-color: #fff;
	border: 1px solid $border-color;
	margin-bottom: 60px;
	padding: 20px;
	color: #212121;
	h4 {
		color: $body-font-color;
		font-size: 14px;
		text-transform: uppercase;
		font-weight: 700;
	}
	input, textarea {
		background-color: #FAFAFA;
		color: #999999;
		border-radius: 0;
		font-size: 14px;
		line-height: 28px;
		padding: 20px;
		border-color: #eee;
		-webkit-box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
		box-shadow: inset 0 0 0 rgba(0, 0, 0, .075);
	}
	.send-btn {
		background: #333;
		color: #fff;
		font-family: $title-font-family;
		letter-spacing: 1px;
		text-transform: uppercase;
		-webkit-transition: all .33s;
		transition: all .33s;
		border-radius: 0;
		&:hover {
			background: $theme-brand-color;
		}
	}
}

.blogFilter {
	margin-bottom: 30px;
	a {
		border: 2px solid $border-color;
		display: inline-block;
		font-family: $title-font-family;
		font-weight: 500;
		font-size: 12px;
		letter-spacing: 1px;
		padding: 10px 20px;
		margin-right: 0;
		margin-bottom: 15px;
		text-decoration: none;
		&:hover, &.current {
			background: $theme-brand-color;
			color: #fff;
			border-color: $theme-brand-color;
		}
	}
}

.entry-quote-post-format {
	background: #f5f5f5;
	padding: 70px;
	border-radius: 4px;
	border: 1px solid #eee;
	position: relative;
	overflow: hidden;
	blockquote {
		padding: 0;
		border: none;
		margin: 0;
		font-size: 20px;
		color: #828282;
		position: relative;
		background: none;
		p {
			font-size: 20px;
			line-height: 30px;
			font-weight: 400;
			font-family: $title-font-family;
			font-style: italic;
			i {
				font-size: 100px;
				color: rgba(0, 0, 0, 0.06);
				padding-right: 10px;
				position: absolute;
				left: -30px;
				top: -30px;
			}
		}
	}
}

.link-post-format {
	background: url(assets/images/link-bg.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
	position: relative;
	h3 {
		margin-bottom: 0;
		background: rgba(218, 82, 10, 0.6);
		@include transition(0.25s);
		a {
			color: #fff;
			padding: 120px 0;
			display: block;
		}
		&:hover {
			background: rgba(218, 82, 10, 0.8);
		}
	}
}

#blog-gallery-slider {
	overflow: hidden;
	.carousel-control.left, .carousel-control.right {
		background: none;
		text-shadow: none;
	}
	.carousel-control {
		.fa-angle-left {
			margin-left: -10px;
			left: -40px;
		}
		.fa-angle-right {
			margin-left: -10px;
			right: -40px;
		}
		.fa-angle-left, .fa-angle-right {
			position: absolute;
			top: 50%;
			z-index: 5;
			display: inline-block;
			margin-top: -10px;
			width: 33px;
			height: 33px;
			font-size: 16px;
			line-height: 29px;
			padding-left: 2px;
			color: #fff;
			border: 2px solid #fff;
			border-radius: 50%;
			-webkit-transition: all 0.33s;
			-moz-transition: all 0.33s;
			-ms-transition: all 0.33s;
			-o-transition: all 0.33s;
			transition: all 0.33s;
			&:hover {
				border-color: $theme-brand-color;
				background: $theme-brand-color;
			}
		}
	}

	&:hover {
		.carousel-control .fa-angle-right {
			right: 20px;
		}
		.carousel-control .fa-angle-left {
			left: 20px;
		}
	}
}



