.insta-feed {
	margin: 0;
	padding: 0;
	background: $article-background;
	overflow: hidden;
	box-shadow: 0 6px 4px 6px rgba(51, 51, 51, 0.08);
	margin-top: 30px;
	img {
		width: 100%;
	}
	h2 {
		overflow: hidden;
		@include headline(18px);
		padding: 28px 0 16px;
	}
}

footer {
	background: $footer-background;
	color: $footer-text-color;
	.footer-widget-row {
		display: flex;
		justify-content: space-between;
		margin: 80px auto 55px;
		.footer-widget {
			flex-basis: 30%;
			.widget-title {
				@include headline(18px, $footer-text-color);
				margin-bottom: 30px;
			}
		}
		.contact-widget {
			h4 {
				font-size: 16px;
			}
			p {
				font-size: 14px;
				margin-bottom: 25px;
			}
			.address {
				p {
					margin-top: 0;
					margin-bottom: 5px;
				}
				a {
					color: $footer-text-color;
				}
			}
		}
		.twitter-widget {
			.single-tweet {
				margin-bottom: 20px;
				p {

					a {
						color: $theme-brand-color;
					}
				}
				h4 {
					font-size: 14px;
					letter-spacing: 0.5px;
					font-weight: normal;

					.fa {
						margin-right: 7px;
						color: $theme-brand-color;
					}
				}
			}
		}
		.social-widget {
			ul {
				margin: 0;
				padding: 0;
				display: flex;
				flex-wrap: wrap;

				li {
					flex-basis: 50%;
					a {
						color: $icon-color;
						display: inline-block;
						margin-bottom: 12px;
						text-transform: capitalize;
						font-size: 14px;
						font-weight: bold;
						font-family: $title-font-family;
						letter-spacing: 0.5px;
						.fa {
							border: 1px solid $icon-color;
							border-radius: 50%;
							color: $icon-color;
							font-size: 16px;
							width: 36px;
							height: 36px;
							line-height: 35px;
							text-align: center;
							margin-right: 15px;
							@include transition(0.33s)
						}
						&:hover {
							color: $theme-brand-color;
							.fa {
								background: $theme-brand-color;
								border-color: $theme-brand-color;
								color: #fff;
							}
						}
					}
				}
			}
		}
		.testimonial-widget {
			.review-text {
				border: 1px solid #fff;
				padding: 18px;
				position: relative;
				&::after, &::before {
					content: '';
					top: 100%;
					left: 15%;
					border: solid transparent;
					height: 0;
					width: 0;
					position: absolute;
				}
				&::before {
					border-top-color: #fff;
					border-width: 22px;
					margin-left: -22px;
				}
				&::after {


					border-top-color: #333;
					border-width: 20px;
					margin-left: -20px;
				}
				p {
					font-size: 13px;
					color: #fff;
					font-style: italic;
					margin: 0;
				}

			}
			.author-id {
				margin-top: 36px;
				img {
					border-radius: 100%;
					float: left;
					overflow: hidden;
					margin: -10px 20px 0;
				}

			}
			.author-text {
				margin-left: 20px;
				h4 {
					font-size: 14px;
					letter-spacing: 0.5px;
					font-weight: 500;
				}
				h4:last-child {
					font-size: 11px;
					font-family: $base-font-family;
					font-weight: 600;
				}
			}
			.carousel-indicators {
				position: absolute;
				bottom: 13px;
				left: 90%;
				z-index: 15;
				width: 30%;
				padding-left: 15px;
				margin-left: -20%;
				li {
					display: inline-block;
					width: 8px;
					height: 8px;
					margin: 1px;
					text-indent: -999px;
					background: #fff;
					cursor: pointer;
					border: 1px solid #fff;
					border-radius: 50%;
					&.active {
						width: 8px;
						height: 8px;
						margin: 1px;
						background-color: $theme-brand-color;
						border: 0;
					}
				}
			}
		}
		.single-blog {
			background: transparent;
			border: 0;
			margin-bottom: 0;
			box-shadow: none;
			img {
				margin-bottom: 10px;
			}
			.category-caption {
				background: transparent;
				padding: 0;
				height: auto;
				h2 a {
					color: #fff;
					font-size: 20px;
					margin-bottom: -5px;
				}
				.date {
					color: #fff;
				}
			}
		}
	}
	.footer-video iframe {
		width: 100%;
		height: 250px;
	}
	.ft-copyright {
		background: $footer-copyright-background;
		color: $footer-copyright-color;
		p {
			font-size: 14px;
			margin: 20px auto;
			.fa {
				color: #ff6c6c;
				padding: 0 5px;
			}
			a {
				color: $footer-copyright-color;
				&:hover {
					color: $theme-brand-color;
				}
			}
		}
	}

}

