@media(min-width: 768px) {
	.navbar {
		.navbar-nav {
			margin-right: 25px;
			> li:first-child {
				a {
					padding-left: 0;
				}
			}
			li {
				&.dropdown.open > .dropdown-menu {
					display: block;
					opacity: 1;
					z-index: 9999;
				}

				.dropdown-menu {
					-webkit-transition: opacity .25s, z-index .5s ease-in;
					transition: opacity .25s, z-index .5s ease-in;
					opacity: 0;
					display: block;
					z-index: -1;
				}
			}
		}
	}
}
@media (min-width: 992px) and (max-width: 1199px) {
	#shopCarousel .carousel-indicators li, #shopCarousel .carousel-indicators li.active {
		background-size: cover !important;
		width: 70px;
		height: 80px;

	}
}


@media(max-width: 768px) {
	.kotha-menu .navbar .navbar-nav li .dropdown-menu {
		width: 100%;
	}

	.kotha-menu .navbar .navbar-nav {
		margin-right: 0;
		margin-left: 0;
		width: 100%;
	}
	.kotha-retro .kotha-menu {
		.navbar-header {
			padding: 5px;
		}
		.navbar-toggle .icon-bar {
			background-color: #fff;
		}
		.navbar .navbar-nav > li {
			display: block;
			a {

				padding: 10px 12px;
				text-align: left;
			}
		}
	}
	.kotha-retro .kotha-menu .menu-content::after, .kotha-retro .kotha-menu .menu-content::before {
		content: '';
		position: absolute;
		top: 30px;
		width: 0;
		height: 0;
		margin-top: -30px;
		clear: both;
	}

	.kotha-menu .navbar .navbar-nav .dropdown .dropdown {
		position: relative;
		> a:after {
			top: 25px;
			right: 15px;
		}
	}
	.kotha-menu .navbar .navbar-nav li a {
		padding: 10px 12px;
	}
	.kotha-menu .navbar .navbar-nav li .dropdown-menu .dropdown-menu li a {
		border-left: 1px solid $border-color;
		padding-left: 30px;
	}
	.kotha-menu .navbar-collapse {
		margin-bottom: 40px;
	}
	.kotha-menu .top-social-icons {
		margin-bottom: 0;
		float: none !important;
		position: absolute;
		bottom: -15px;
		left: 8px;
	}
	.navbar-default .navbar-toggle:focus, .navbar-default .navbar-toggle:hover {
		background-color: transparent;
	}
	.kotha-menu .show-search {
		margin-top: 40px;

	}
	.kotha-menu .navbar .navbar-nav > li:first-child a {
		padding-left: 12px;
	}
	.search {
		display: inline-block;
		text-align: center;
	}
	.single-blog .post-content .entry-header h2 {
		font-size: 21px;

	}
	/*kotha food*/
	.sub-text.pull-left {
		float: none !important;
		text-align: center;
		margin-bottom: 15px;
	}
	.feature-food .subscribe-newsletter-area .sub-form input[type="email"] {
		width: 100%;
		margin-bottom: 16px;
	}
	.sub-form.pull-right {
		float: none !important;
		text-align: center;
	}
	.device {
		display: block;
		margin: 20px auto 0 auto;
	}

	.device-small {
		margin-bottom: 20px !important;
	}

	.footer-main {
		ul {
			margin-bottom: 20px;
			text-align: center;
		}

		h4 {
			text-align: center;
		}
	}
	footer .footer-widget-row {
		display: block;
		.footer-widget {
			margin-bottom: 45px;
		}
	}
	.blog-carousel .single-carousel .carousel-box-content h2 {
		font-size: 26px;
	}
	.blog-carousel .single-carousel .carousel-box-content {
		width: 100%;
		bottom: 60px;
		right: auto;
		padding: 26px 35px 20px;
	}

	.leave-comment {
		input, textarea {
			margin-bottom: 20px;
		}
		.form-group {
			margin-bottom: 0;
		}
	}
	#shopCarousel .carousel-indicators li, #shopCarousel .carousel-indicators li.active {
		width: 50px;
		height: 60px;
		-webkit-background-size: cover;
		background-size: cover;
	}
	#shopCarousel .carousel-inner {
		padding-bottom: 115px;
	}
	.archi-feature-category .fa.right {
		right: 0;
	}
	.archi-feature-category .fa.left {
		left: 0;

	}
}

@media(max-width: 450px) {
	.single-blog .post-content .post-meta .social-share, .single-blog .post-content .post-meta .author-meta {
		float: none !important;
		text-align: center;
		margin-bottom: 10px;
		display: block;
	}
	.single-blog .post-content {
		padding: 15px;
	}
	.comment-area {
		padding: 15px;
	}

}