.kotha-sidebar {
	.widget {
		background-color: $article-background;
		padding: 35px 30px;
		margin-bottom: 40px;
		-webkit-box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
		box-shadow: 0 0 2px 0 rgba(51, 51, 51, 0.08), 0 0 2px 0 rgba(51, 51, 51, 0.08);
		.widget-title {
			@include headline(18px);
			margin-bottom: 28px;
		}
		&.about-me-widget {
			background: url('assets/images/about-me-bg.jpg') no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			background-color: #fff;
			.about-me-content {
				padding-bottom: 13px;
				h2 {
					margin-top: 12px;
					margin-bottom: 22px;
					@include headline(18px)
				}
				.about-me-img {
					padding-top: 8%;
					img {
						display: inline-block;
						@include add-border(7px, #fff, all);
						border-radius: 50%;
						margin-top: 40px;
					}
				}
			}
			.social-share {
				ul {
					li {
						padding: 0;
						a {
							@include icon(13px, 30px, 30px, 28px);
							margin-right: 6px;
							&:hover {
								background: $theme-brand-color;
								border-color: $theme-brand-color;
								color: #fff;
							}
						}
					}
				}
			}
		}
		&.news-letter-widget {
			input[type="email"] {
				width: 100%;
				margin-bottom: 14px;
				color: #b6b6b6;
				border: 1px solid #eeeeee;
				font-size: 14px;
				letter-spacing: 0.5px;
				padding: 10px 15px;
				font-style: italic;
				border-radius: 0;
				background: #fafafa;
				&:focus {
					border-color: $theme-brand-color;
				}
			}
			.btn-subscribe {
				width: 100%;
				background-color: $theme-brand-color;
				color: #fff;
				border-radius: 0;
				-webkit-transition: all 0.33s;
				transition: all 0.33s;
				letter-spacing: 1px;
				font-size: 12px;
				padding: 9px 0;
				font-family: $title-font-family;
			}
		}
		&.insta-widget {
			.instagram-feed {
				display: flex;
				flex-wrap: wrap;
				justify-content: space-between;
				.single-instagram {
					flex-basis: 48%;
					margin-bottom: 4%;
					&:nth-last-of-type(-n+2) {
						margin-bottom: 0;
					}
					.insta-meta {
						ul {
							li {
								font-size: 13px;
								a {
									color: #fff;
									font-size: 13px;

								}
							}
						}
					}
				}
			}
		}
		&.widget-popular-post {
			ul {
				padding: 0;
				margin: 0;
				li {
					padding-left: 0;
					padding-bottom: 15px;
					margin-bottom: 20px;
					@include add-border(1px, $border-color, bottom);
					> a {
						position: relative;
						display: block;
						margin-bottom: 14px;
						&:after {
							content: '';
							@include position-absolute(0, 0);
							height: 100%;
							width: 100%;
							@include brand-color(0);
							@include transition(0.33s);
						}
						&:hover {
							&:after {
								@include brand-color(0.3);
							}
						}
						img {
							width: 100%;
						}
					}
					.p-content {
						h4 {
							@include headline(14px)
						}
						.p-date {
							@include date();
							color: $blog-meta-color;
						}
					}
					&:last-child {
						border: 0;
						padding: 0;
						margin: 0;
					}
				}
			}
		}
		&.latest-post-widget {
			ul {
				padding: 0;
				margin: 0;
				li {
					@include add-border(1px, $border-color, bottom);
					padding-bottom: 15px;
					padding-left: 0;
					.popular-img {
						position: relative;
						display: block;
						&:after {
							content: '';
							@include position-absolute(0, 0);
							height: 100%;
							width: 100%;
							@include brand-color(0);
							@include transition(0.33s);
						}
						&:hover {
							&:after {
								@include brand-color(0.3);
							}
						}
					}
					.latest-post-content {
						h2 {
							@include headline(14px, $border-color, 0);
							margin-bottom: 3px;
						}
						p {
							@include date();
						}
					}
					&:last-child {
						border: 0;
						padding-bottom: 0;
						margin-bottom: 0;
					}
				}
			}

		}
		&.add-widget {
			img {
				width: 100%;
			}
		}
	}
}

/*instagram css*/
.single-instagram {
	position: relative;
	display: block;

	.insta-overlay {
		position: absolute;
		top: 0;
		left: 0;
		height: 100%;
		width: 100%;
		@include brand-color(0.75);
		display: flex;
		@include transition(0.4s);
		opacity: 0;
		.insta-meta {
			margin: auto;
			z-index: 999;
			ul {
				margin-bottom: 0;
				li {
					color: #fff;
					font-size: 14px;
					a {
						color: #fff;
						font-size: 14px;
						.fa {
							margin-right: 3px;
						}
						/*.fa{
							@include transition(0.25s);
						}
						.fa-heart-o:hover {
							&:before {
								content: "\f004";
							}
						}
						.fa-comment-o:hover{
							&:before {
								content: "\f075";
							}
						}*/
					}
				}
			}
		}

	}
	.insta-link {
		position: absolute;
		height: 100%;
		width: 100%;
		top: 0;
		left: 0;
		display: block;
	}
	&:hover {
		.insta-overlay {
			opacity: 1;
		}
	}
}

.kotha-sidebar.feminine-sidebar {
	.widget {
		&.about-me-widget {
			background: url('assets/images/fe-about-me-bg.jpg') no-repeat;
			-webkit-background-size: 100%;
			background-size: 100%;
			background-color: #fff;
		}
	}
}